body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333,
    -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
  -webkit-animation: color-change-4x 8s linear infinite alternate both;
  animation: color-change-4x 8s linear infinite alternate both;
}
@-webkit-keyframes color-change-4x {
  0% {
    background: #a8dacd;
  }
  33.3333% {
    background: #eb68a0;
  }
  66.666% {
    background: #7a4d9f;
  }
  100% {
    background: #22235f;
  }
}
@keyframes color-change-4x {
  0% {
    background: #a8dacd;
  }
  33.3333% {
    background: #eb68a0;
  }
  66.666% {
    background: #7a4d9f;
  }
  100% {
    background: #22235f;
  }
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}

.game-container h1 {
  margin-bottom: 40px;
}

.game-container button {
  background-color: #ffbd03;
  border-radius: 1rem;
  width: 10rem;
  height: 4rem;
  margin-top: 30px;
  font-size: 20px;
  border-style: none;
}
.game-container button:hover {
  background-color: #fad162;
  border-radius: 1rem;
  width: 10rem;
  height: 4rem;
  margin-top: 30px;
  font-size: 20px;
  border-style: none;
}
.vibrate-3 {
  -webkit-animation: vibrate-3 0.5s linear infinite both;
  animation: vibrate-3 0.5s linear infinite both;
}

@-webkit-keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.result {
  margin-top: 20px;
}

.heartbeat {
  animation: heartbeat 3s ease-in-out 2s infinite alternate-reverse both;
  animation: heartbeat 3s ease-in-out 2s infinite alternate-reverse both;
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
